BLUESKY_HANDLE=
BLUESKY_PASSWORD=
GEMINI_API_KEY=
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=
FIRMS_API_KEY=
DATABASE_URL=
MAIL_SERVICE_URL=create_a_mail_service_backend_with_node_js_or_any_other_framework